/*-------------------------------------------*/ 
/*                EMULATOR PAGE              */ 
/*-------------------------------------------*/ 

.main{
  background-color: #151515;
  text-align: center;
  min-width: 300px;
  height: 800px;
}
.but{
  width: 100%;
  height: 100%;
  background-color: #B4A5A5;
  border: 2px solid black;
  border-radius: 20px;
}
.but:hover{
  border: 2px solid purple;
}
.container-layout{
  height: 50%;
}

.gridLayout{
  padding: 20px;
  display: grid;
  grid-auto-rows:100%;
  justify-content: center;
  height: auto;
}

ul{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  height: 50%;
}
ul li {
  display: inline-flex;
  margin: 10px;
  max-width: 300px;
  min-width: 30px;
  
}
.color-picker{
  height: 100%;
  width: 150px;
  background-color: #151515;
  border-color: #151515;

}
.but-function{
  color: #3C415C;
  width: 150px;
  background-color: #B4A5A5;
  border: 2px solid black;
  border-radius: 25px;
  font-size: 24px;
  font-weight: bold;
}

.but-function:hover{
  border: 3px solid purple;
  color: purple;
}

.but-function:active{
  transform: translateY(4px);
}


.logo{
  margin: 0 auto;
  max-width: 800px;
  min-height: 100px;
  min-width: 300px;
  padding: 10px;
  border: 4px solid #3C415C;
  border-radius: 50px;
  
}

.logo-wall{
  color: purple;
  font-size: 50px;
  text-align: center;
  text-shadow:0.5px 1px #3C415C;
}

.text-color-picker{
  margin: center;
  color: #3C415C;
}

nav{
  display: flex;
  justify-content: left;
  margin: 5px;
  min-height: 40px;
}

/*-------------------------------------------*/ 
/*                HOME PAGE                  */ 
/*-------------------------------------------*/ 

.ul-home{
  list-style: none;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.li-home {
  margin: 10px;
  align-self: center;
}

.but-return{
  color: #3C415C;
  min-width: 100px;
  max-width: 150px;
  background-color: #B4A5A5;
  border: 2px solid black;
  border-radius: 25px;
  font-size: 24px;
  font-weight: bold;
}

.but-return:hover{
  border: 3px solid purple;
  color: purple;
}

.but-home{
  min-width: 300px;
  max-width: 800px;
  min-height: 150px;
  color: #3C415C;
  background-color: #B4A5A5;
  border: 2px solid black;
  border-radius: 25px;
  font-size: 24px;
  font-weight: bold;
}

.but-home:hover{
  border: 3px solid purple;
  color: purple;
}

.but-home:active{
  transform: translateY(4px);
}

/*-------------------------------------------*/ 
/*                ANIMATIONS PAGE            */ 
/*-------------------------------------------*/ 

.container-anim{
  border: 3px solid purple;
  margin-top: 10px;
  height: 100%;
  min-width: 100px;
  width: 300px;
  display: inline-flex;
  justify-self: left;
  overflow-y:scroll;
}

.container-list{
  justify-self: center;
  flex-grow:1;
  
}

.container{
  min-width: 400px;
  height:60%;
  display: flex;
  width: 85%;

}

.list-of-anim{
  width: 100%;
  color: white;
  max-height: fit-content;
  padding-left: 0px;
  height: 0;
}

.li-anim{
  display: flex;
  width: 100%;
  min-height: 40px;
  border: 3px solid #3C415C;
  justify-content: center;
  align-items: center;
}

.container-edit {
  display: flex;
  margin-top: 20px;
}

.container-edit button{
  display: inline-block; 
  margin: 0;
  margin-left: 12px;
}

.input-delay{
  height: 50%;
}

.modal{
  text-align: center;
  background: white;
}

.modal textarea{
  resize: none;
  width: 100%;
}

.modal button{
  display: block;
  height: 30px;
  width: 50px;
  margin: 20px auto 0;
}

.modal h2{
  color: black;
  font-weight: bold;
}

.container-anim-select{
  display: flex;
  height: 10%;
}

.container-anim-select h1{
  color: #3C415C;
  font-size: 32px;
}

.but-function-anim{
  color: #3C415C;
  width: 150px;
  background-color: #B4A5A5;
  border: 2px solid black;
  border-radius: 25px;
  font-size: 24px;
  font-weight: bold;
}

.but-function-anim:hover{
  border: 3px solid purple;
  color: purple;
}

.but-function-anim:active{
  transform: translateY(4px);
}

.but-function-anim:disabled{
  background-color: #E6E6E6;
  border-color: #CCCCCC;
  color: #CCCCCC;
  cursor: not-allowed;
}